[Unit]
Description=TigerVNC-based VNC server for display
After=syslog.target network.target

[Service]
Type=simple
# Clean up any old VNC sockets
ExecStartPre=-/usr/bin/vncserver -kill :%i > /dev/null 2>&1
# Start the VNC server in foreground, which will determine the user from /etc/tigervnc/vncserver.users
ExecStart=/usr/bin/vncserver -fg -localhost -depth 24 -geometry 1280x800 :%i
# Stop the VNC server
ExecStop=/usr/bin/vncserver -kill :%i

[Install]
WantedBy=multi-user.target
